@model EduQuiz_5P.ViewModel.DynamicSelect

<div class="form-group local-forms">
    <label>Chọn môn học <span class="login-danger">*</span></label>
    <select class="form-control select" asp-items="Model.SelectListSubject">
        <option value="">Chọn môn học</option>
    </select>
</div>