@model EduQuiz_5P.Models.Subject

@{
    ViewData["Title"] = "Chỉnh sửa môn học";
}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">@ViewData["Title"]</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Subject" asp-area="Admin">Môn học</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Basic Details</span></h5>
                            </div>
                            <div class="col-12" id="createSubjectContainers">
                                <div class="row create-dynamic">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="container">
                                                <div class="row justify-content-center align-items-center align-content-center">
                                                    <div class="profile-user-box mt-3">
                                                        <div class="profile-user-img ">
                                                            <img src="@(Model.UrlBackground)" alt="Profile" id="UploadImages">
                                                            <div class="form-group students-up-files profile-edit-icon mb-0">
                                                                <div class="uplod d-flex">
                                                                    <label class="file-upload profile-upbtn mb-0">
                                                                        <i class="fas fa-edit"></i><input asp-for="UploadImage" onchange="previewImage(this, 'UploadImages')">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group local-forms">
                                            <label>Tên chương học<span class="login-danger">*</span></label>
                                            <input asp-for="SubjectName" class="form-control" placeholder="Enter Name">
                                            <span asp-validation-for="SubjectName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group local-forms">
                                            <label>Mô tả môn học <span class="login-danger">*</span></label>
                                            <textarea asp-for="SubjectDescription" id="editor" class="editor" cols="30" rows="10"></textarea>
                                            <span asp-validation-for="SubjectDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
