@{
    ViewData["Title"] = "Trang chủ";
}
<section id="home">
    <div class="bg-holder d-none d-md-block bg-size" style="background-image:url(./img/illustrations/hero.png);background-position:right bottom;">
    </div>
    <!--/.bg-holder-->
    <!--
            <div class="bg-holder" style="background-image:url(./img/illustrations/heroheader-bg.png);background-position:center;background-size:contain;">
            </div> -->
    <!--/.bg-holder-->

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
                <h1 class="fw-bold display-4 fs-4 fs-lg-6 fs-xxl-7 text-gradient">Bộ bài tập và đề thi trắc nghiệm online các lớp</h1>
                <p class="mb-5 fs-0">Bộ bài tập và đề thi được cá nhân hóa theo trình độ từng học sinh giúp các em tự tin đứng top chỉ với 30 phút học mỗi ngày.</p>
            </div>
        </div>
    </div>
</section>

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0 circle-blend circle-blend-right circle-warning" id="THPT">

    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xxl-5 mx-auto text-center py-7">
                <h1 class="fw-bold fs-4 fs-lg-6 lh-sm mb-3">Trung học phổ thông</h1>
            </div>
        </div>
        <div class="bg-holder" style="background-image:url(./img/illustrations/service.png);background-position:bottom center;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="row flex-center">
            <div class="col-xl-9">
                <div class="row justify-content-center circle">
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="text-center">
                                <img class="my-5" src="~/img/gallery/lop-10.png" width="100%" alt="THPT" />
                                <div class="card-body text-center">
                                    <h1 class="fw-bold fs-4">Lớp 10</h1>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Bộ bài tập và kiến thức mở đầu cho Cấp 3</p>
                                    <button class="btn btn-light shadow-klean order-0" type="submit"><span class="text-gradient fw-bold fs-2">Luyện ngay ></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="text-center">
                                <img class="my-5" src="~/img/gallery/lop-11.png" width="100%" alt="THPT" />
                                <div class="card-body text-center">
                                    <h1 class="fw-bold fs-4">Lớp 11</h1>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Bộ bài tập, đề thi lớp 11 và lập kế hoạch cho tương lai</p>
                                    <button class="btn btn-light shadow-klean order-0" type="submit"><span class="text-gradient fw-bold fs-2">Luyện ngay ></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="text-center">
                                <img class="my-5" src="~/img/gallery/lop-12.png" width="100%" alt="THPT" />
                                <div class="card-body text-center">
                                    <h1 class="fw-bold fs-4">Lớp 12</h1>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Chuẩn bị cho kỳ thi tốt nghiệp cấp 3 và đại học với lớp 12</p>
                                    <button class="btn btn-light shadow-klean order-0" type="submit"><span class="text-gradient fw-bold fs-2">Luyện ngay ></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="text-center">
                                <img class="my-5" src="~/img/gallery/dgnl.png" width="100%" alt="THPT" />
                                <div class="card-body text-center">
                                    <h1 class="fw-bold fs-4">Đề thi ĐGNL</h1>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Bộ đề thi đánh giá năng lực mới nhất từ các trường</p>
                                    <button class="btn btn-light shadow-klean order-0" type="submit"><span class="text-gradient fw-bold fs-2">Luyện ngay ></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="text-center">
                                <img class="my-5" src="~/img/gallery/thpt.png" width="100%" alt="THPT" />
                                <div class="card-body text-center">
                                    <h1 class="fw-bold fs-4">Luyện thi THPT</h1>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Bài tập và đề luyện thi THPT Quốc Gia mới nhất</p>
                                    <button class="btn btn-light shadow-klean order-0" type="submit"><span class="text-gradient fw-bold fs-2">Luyện ngay ></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->


<section class="py-5 circle-blend circle-blend-right-feature circle-cyan" id="THCS">
    <div class="bg-holder" style="background-image:url(./img/illustrations/feature-bg.png);background-position:right;background-size:auto;">
    </div>
    <!--/.bg-holder-->
    <div class="container">
        <div class="row justify-content-center mb-6">
            <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
                <h1 class="fw-bold fs-4 fs-lg-6 lh-sm mb-3">Trung học cơ sở</h1>
            </div>
        </div>
        <div class="row flex-center">
            <div class="col-xl-9">
                <div class="row justify-content-center circle">
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="text-center">
                                <img class="my-5" src="~/img/gallery/lop-6.png" width="100%" alt="THCS" />
                                <div class="card-body text-center">
                                    <h1 class="fw-bold fs-4">Lớp 6</h1>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Bộ bài tập và kiến thức mở đầu cho Cấp 2</p>
                                    <button class="btn btn-light shadow-klean order-0" type="submit"><span class="text-gradient fw-bold fs-2">Luyện ngay ></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="text-center">
                                <img class="my-5" src="~/img/gallery/lop-7.png" width="100%" alt="THCS" />
                                <div class="card-body text-center">
                                    <h1 class="fw-bold fs-4">Lớp 7</h1>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Khám phá những kiến thức và đề thi lớp 7 mới nhất</p>
                                    <button class="btn btn-light shadow-klean order-0" type="submit"><span class="text-gradient fw-bold fs-2">Luyện ngay ></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="text-center">
                                <img class="my-5" src="~/img/gallery/lop-8.png" width="100%" alt="THCS" />
                                <div class="card-body text-center">
                                    <h1 class="fw-bold fs-4">Lớp 8</h1>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Củng cố kiến thức và kỹ năng học tập lớp 8</p>
                                    <button class="btn btn-light shadow-klean order-0" type="submit"><span class="text-gradient fw-bold fs-2">Luyện ngay ></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="text-center">
                                <img class="my-5" src="~/img/gallery/lop-9.png" width="100%" alt="THCS" />
                                <div class="card-body text-center">
                                    <h1 class="fw-bold fs-4">Lớp 9</h1>
                                    <p class="mt-3 mb-md-0 mb-lg-3">Chuẩn bị cho kỳ thi tốt nghiệp THCS cho lớp 9</p>
                                    <button class="btn btn-light shadow-klean order-0" type="submit"><span class="text-gradient fw-bold fs-2">Luyện ngay ></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<section>
    <div class="bg-holder" style="background-image:url(./img/illustrations/product-bg-1.png);background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder mt-n4" style="background-image:url(./img/illustrations/product-bg-2.png);background-position:left top;background-size:contain;">
    </div>
    <!--/.bg-holder-->
</section>
<section class="py-0 circle-blend circle-blend-right circle-warning" id="3buocchinhphuc">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xxl-5 mx-auto text-center py-7">
                <h1 class="fw-bold fs-4 fs-lg-6 lh-sm mb-3">3 bước chinh phục điểm 10 cùng Học AZ</h1>
            </div>
        </div>
        <div class="bg-holder" style="background-image:url(./img/illustrations/service.png);background-position:bottom center;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="row flex-center">
            <div class="col-xl-9">
                <div class="row justify-content-center circle">
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="card-body py-7">
                                <h1 class="fw-bold fs-4"><span class="text-warning">Bước 1</span></h1>
                                <h1 class="fw-bold fs-3">Phát hiện điểm mạnh, yếu</h1>
                                <p class="mt-3 mb-md-0 mb-lg-3 fs-2">Các bài tập được cá nhân hóa theo từng học sinh, các em sẽ biết được trình độ ngay khi hoàn thành bài học đó với nội dung luyện tập được cập nhật mới nhất.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="card-body py-7">
                                <h1 class="fw-bold fs-4"><span class="text-warning">Bước 2</span></h1>
                                <h1 class="fw-bold fs-3">Bổ sung kiến thức</h1>
                                <p class="mt-3 mb-md-0 mb-lg-3 fs-2">Ngay khi biết được trình độ của mình, điểm mạnh, điểm yếu ở từng bài tập các em sẽ có kế hoạch bổ sung kiến thức của mình dễ dàng hơn.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                            <div class="card-body py-7">
                                <h1 class="fw-bold fs-4"><span class="text-warning">Bước 3</span></h1>
                                <h1 class="fw-bold fs-3">Lên kế hoạch học tập</h1>
                                <p class="mt-3 mb-md-0 mb-lg-3 fs-2">Khi biết mình yếu môn nào, giỏi môn nào thì việc lên kế hoach học tập để đạt mục tiêu điểm là điều kiện không thể thiếu nếu muốn có được kết quả tốt nhất.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<section>
    <div class="bg-holder" style="background-image:url(./img/illustrations/product-bg-1.png);background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder mt-n4" style="background-image:url(./img/illustrations/product-bg-2.png);background-position:left top;background-size:contain;">
    </div>
    <!--/.bg-holder-->

    <div class="container-xl">
        <div class="row flex-center circle-blend circle-blend-left-product circle-cyan">
            <div class="col-lg-6">
                <div class="square shadow-square-bottom">
                    <div class="card product-card-bg">
                        <div class="card-body p-4 h-100">
                            <img class="img-fluid border-img" src="~/img/gallery/feature-girl.png" height="100%" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <img style="margin-top: 0.5cm" src="~/img/gallery/feature-1.png" width="30%" alt="daucau" />
                        <h1 class="fw-bold display-5 lh-sm my-4">Câu hỏi phong phú</h1>
                        <p class="fs-1 mb-3 pe-xxl-8">Với hơn 10.000+ câu hỏi được biên soạn chi tiết từ chương trình học mới nhất có đáp án và giải thích</p>
                    </div>
                    <div class="col-md-6">
                        <img style="margin-top: 0.5cm" src="~/img/gallery/feature-2.png" width="30%" alt="daucau" />
                        <h1 class="fw-bold display-5 lh-sm my-4">Đa dạng đề thi</h1>
                        <p class="fs-1 mb-3 pe-xxl-8">Bộ đề thi theo các môn với đầy đủ đề thi Học Kì, THPT Quốc Gia, DGNL có chấm điểm</p>
                    </div>
                    <div class="col-md-6">
                        <img style="margin-top: 0.5cm" src="~/img/gallery/feature-3.png" width="30%" alt="daucau" />
                        <h1 class="fw-bold display-5 lh-sm my-4">Cá Nhân Hoá</h1>
                        <p class="fs-1 mb-3 pe-xxl-8">Các câu hỏi sẽ được đề xuất liên tục theo trình độ người học, và liên tục cập nhật mới</p>
                    </div>
                    <div class="col-md-6">
                        <img style="margin-top: 0.5cm" src="~/img/gallery/feature-4.png" width="30%" alt="daucau" />
                        <h1 class="fw-bold display-5 lh-sm my-4">Bộ tài liệu miễn phí</h1>
                        <p class="fs-1 mb-3 pe-xxl-8">Tài liệu mới nhất được cập nhật liên tục</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<section>
    <div class="bg-holder" style="background-image:url(./img/illustrations/product-bg-1.png);background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder mt-n4" style="background-image:url(./img/illustrations/product-bg-2.png);background-position:left top;background-size:contain;">
    </div>
    <!--/.bg-holder-->

    <div class="container-xl">
        <div class="row flex-center circle-blend circle-blend-left-product circle-cyan">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-5">
                            <img src="~/img/gallery/document-icon.png" width="15%" alt="sach">
                            <div class="flex-1 ms-3">
                                <p class="fs-1 mb-3 pe-xxl-8">Tổng hợp các công thức lượng giác thường xuyên sử dụng trong chương trình THPT</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-5">
                            <img src="~/img/gallery/document-icon.png" width="15%" alt="sach">
                            <div class="flex-1 ms-3">
                                <p class="fs-1 mb-3 pe-xxl-8">Đáp án chính thức môn Toán thi THPT Quốc Gia 2023</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-5">
                            <img src="~/img/gallery/document-icon.png" width="15%" alt="sach">
                            <div class="flex-1 ms-3">
                                <p class="fs-1 mb-3 pe-xxl-8">Đề thi minh họa môn Toán trường Đại học Ngân hàng TP HCM</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-5">
                            <img src="~/img/gallery/document-icon.png" width="15%" alt="sach">
                            <div class="flex-1 ms-3">
                                <p class="fs-1 mb-3 pe-xxl-8">Đề minh họa thi THPT Quốc Gia 2023 môn Toán</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-5">
                            <img src="~/img/gallery/document-icon.png" width="15%" alt="sach">
                            <div class="flex-1 ms-3">
                                <p class="fs-1 mb-3 pe-xxl-8">Tổng hợp kiến thức về mặt phẳng tọa độ Oxyz</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-5">
                            <img src="~/img/gallery/document-icon.png" width="15%" alt="sach">
                            <div class="flex-1 ms-3">
                                <p class="fs-1 mb-3 pe-xxl-8">5 dạng bài tập trắc nghiệm nguyên hàm cơ bản lớp 12</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-6">
                <div class="square shadow-square-bottom">
                    <div class="card product-card-bg">
                        <div class="card-body p-4 h-100">
                            <img class="img-fluid border-img" src="~/img/gallery/document.png" height="100%" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>





<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pb-0" container container-lg-fluid container-xl="container container-lg-fluid container-xl">

    <div class="container">
        <div class="bg-holder" style="background-image:url(./img/illustrations/team-bg.png);background-position:left top;background-size:auto;">
        </div>
        <!--/.bg-holder-->

        <div class="row justify-content-center mb-6">
            <div class="col-lg-6 text-center mx-auto mb-7">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Cảm nhận của học sinh</h5>
            </div>
            <div class="col-xxl-9">
                <div class="row flex-center g-0">
                    <div class="col-sm-6 col-lg-3 text-center">
                        <div class="wrapper shadow-square-right"><img class="team-card-1" src="~/img/gallery/john.png" width="200" alt="..." /></div>
                        <h5 class="text-800 fw-bold mt-4 mb-1">Trần Lê Mai Anh</h5>
                        <p>Mình nhận thấy web thực sự hữu ích cho học sinh, giao diện thân thiện, bài tập chi tiết và rõ ràng giúp các con dễ dàng luyện tập.</p>
                    </div>
                    <div class="col-sm-6 col-lg-3 text-center">
                        <div class="wrapper shadow-square-left"><img class="team-card-2" src="~/img/gallery/carrey.png" width="200" alt="..." /></div>
                        <h5 class="text-800 fw-bold mt-4 mb-1">Nguyễn Phúc Trung Kiên</h5>
                        <p>Mình nhận thấy web thực sự hữu ích cho học sinh, giao diện thân thiện, bài tập chi tiết và rõ ràng giúp các con dễ dàng luyện tập.</p>
                    </div>
                    <div class="col-sm-6 col-lg-3 text-center">
                        <div class="wrapper shadow-square-right"><img class="team-card-3" src="~/img/gallery/ray.png" width="200" alt="..." /></div>
                        <h5 class="text-800 fw-bold mt-4 mb-1">Nguyễn Diệu Hương</h5>
                        <p>Mình nhận thấy web thực sự hữu ích cho học sinh, giao diện thân thiện, bài tập chi tiết và rõ ràng giúp các con dễ dàng luyện tập.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mx-auto mb-8">
                <button class="btn btn-lg btn-klean-outline order-0" type="submit"><span class="text-gradient fw-bold">View Full Team</span></button>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

<section>
    <div class="bg-holder" style="background-image:url(./img/illustrations/cta-bg.png);background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder" style="background-image:url(./img/illustrations/cta-bg-1.png);background-position:right top;background-size:auto;margin-top:-38px;margin-left:-200px;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
        <div class="row flex-center circle-blend circle-blend-right circle-pink">
            <div class="col-xxl-9 py-5 text-center">
                <h1 class="fw-bold mb-4 text-gradient fs-6">EduQuiz5P</h1>
            </div>
        </div>
    </div>
</section>