@using static EduQuiz_5P.Helpers.ManageNavPages;
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block navbar-klean" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home"> <img class="me-3 d-inline-block" src="~/logo.png" alt="" style="max-width: 10rem;" /></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto pt-2 pt-lg-0">
                <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link @MainNavClass(ViewContext, @Home, "Index")" asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link @MainNavClass(ViewContext, @Home, "About")" asp-action="Index" asp-controller="Home">Giới thiệu</a>
                </li>
                <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link @MainNavClass(ViewContext, @ExamNav, "Index")" asp-action="Index" asp-controller="Exam">Luyện Thi THPT</a></li>
                <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#THPT">THPT</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
            
        </div>
    </div>
</nav>