<!DOCTYPE html>
<html lang="en">
<head>
    @{
        await Html.RenderPartialAsync("_Meta");
        await Html.RenderPartialAsync("_Style");
    }
</head>
<body>
    <main class="main" id="top">
        @{
            await Html.RenderPartialAsync("_Header");
            @RenderBody()
            await Html.RenderPartialAsync("_Footer");
        }
    </main>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
