@using EduQuiz_5P.Helpers
@using Microsoft.AspNetCore.Identity
@using EduQuiz_5P.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <ul class="nav nav-tabs user-menu">
        <li class="nav-item dropdown has-arrow main-drop">
            <a class="user-link dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span class="user-img">
                    <img src="~/img/gallery/author-2.png" alt="img" class="profilesidebar">
                    <span class="animate-circle"></span>
                </span>
                <span class="user-content">
                    <span class="user-details">
                        @(User.IsInRole(Constants.Roles.Admin) ? "Admin" : "Người dùng")
                    </span>
                    <span class="user-name">@user.FullName</span>
                </span>
            </a>
            <div class="dropdown-menu">
                @if (User.IsInRole(Constants.Roles.Admin))
                {
                    <a class="dropdown-item" asp-area="Admin" asp-action="Index" asp-controller="Home">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user me-1">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg> Giao diện Admin
                    </a>
                }
                <a class="dropdown-item" asp-action="Profile" asp-controller="Account">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user me-1">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg> Quản lý thông tin
                </a>
                <form class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out me-1">
                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                        <polyline points="16 17 21 12 16 7"></polyline>
                        <line x1="21" y1="12" x2="9" y2="12"></line>
                    </svg>
                    <button type="submit" class="btn p-0" style="color:black">Đăng xuất</button>
                </form>
            </div>
        </li>
    </ul>
}
else
{
    <div class="ps-lg-5">
        <a class="btn btn-light shadow-klean order-0 me-2" asp-action="Login" asp-controller="Account"><span class="text-gradient fw-bold">Đăng nhập</span></a>
        <a class="btn btn-light shadow-klean order-0" asp-action="Register" asp-controller="Account"><span class="text-gradient fw-bold">Đăng ký</span></a>
    </div>
}
