<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>EduQuiz5P - @ViewData["Title"]</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicons/favicon.ico">
    <link rel="manifest" href="~/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
          integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- ===============================================-->
    <!--    FONT-->
    <!-- ===============================================-->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- Latex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
          integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="~/css/theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/themeexam.css">
    <link rel="stylesheet" href="~/css/toastrcustom.css" />
</head>
<body>
    <span id="message" class="d-none">@TempData["ToastrMessage"]</span>
    <span id="status" class="d-none">@TempData["ToastrMessageType"]</span>
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light py-3 d-block navbar-klean"
             style="box-shadow: 0px -1px 23.2px 0px rgba(153, 167, 192, 0.25);">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="me-3 d-inline-block" src="~/logo.png"
                         alt="" style="max-width: 10rem;" />
                </a>
            </div>
        </nav>
        @{
            @RenderBody()
        }
        <section class="pb-0 pt-6">
            <div class="bg-holder" style="background-image:url(./img/illustrations/footer-bg.png);background-position:center;background-size:cover;">
            </div>

            <div class="container">
                <div class="row justify-content-lg-between circle-blend-right circle-danger">
                    <div class="col-6 col-sm-4 col-lg-auto mb-3">
                        <h5 class="text-600 mb-3 fw-bold">About</h5>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Prices</a></li>
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">About</a></li>
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Resources</a></li>
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Team</a></li>
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-auto mb-3">
                        <h5 class="text-600 mb-3 fw-bold">Resources </h5>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Terms</a></li>
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Help</a></li>
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-auto mb-3">
                        <h5 class="text-600 mb-3 fw-bold">Team</h5>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Dveloper</a></li>
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Designer</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-auto mb-3">
                        <h5 class="text-600 mb-3 fw-bold">Blog</h5>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">CEO</a></li>
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Lifestyle</a></li>
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Article</a></li>
                            <li class="mb-2"><a class="text-400 text-decoration-none" href="#!">Tech</a></li>
                        </ul>
                    </div>
                    <div class="col-9 col-sm-6 col-lg-auto mb-3">
                        <h5 class="text-600 mb-3 fw-bold">Follow Us</h5>
                        <ul class="list-unstyled list-inline my-3">
                            <li class="list-inline-item"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="~/img/icons/facebook.svg" alt="" width="25" /></a></li>
                            <li class="list-inline-item"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="~/img/icons/twitter.svg" alt="" width="25" /></a></li>
                            <li class="list-inline-item"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="~/img/icons/linkdin.svg" alt="" width="25" /></a></li>
                            <li class="list-inline-item"><a class="text-decoration-none" href="#!"><img class="list-social-icon" src="~/img/icons/youtube.svg" alt="" width="25" /></a></li>
                            <li class="list-inline-item"><a class="text-decoration-none" href="#!"></a></li>
                        </ul>
                        <p class="fw-semi-bold mt-4 mb-3">Subscribe to our newsletter</p>
                        <label class="col-sm-2 col-form-label visually-hidden" for="inputEmail2">Email</label>
                        <div class="col-sm-12 input-group-icon">
                            <input class="form-control rounded-pill border-white py-1 px-4" id="inputEmail2" type="email" placeholder="email" />
                            <svg class="bi bi-envelope-fill input-box-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16" style="left:.8rem;">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <hr class="text-100 mb-0" />
                <div class="row justify-content-md-between justify-content-evenly py-3">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                        <p class="fs--1 my-2 fw-bold">All rights Reserved &copy; Your Company, 2021</p>
                    </div>
                    <div class="col-12 col-sm-8 col-md-6">
                        <p class="fs--1 my-2 text-center text-md-end">
                            Made with&nbsp;
                            <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#EB6453" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                            </svg>&nbsp;by&nbsp;<a class="fw-bold text-500" asp-action="Index" asp-controller="Home" target="_blank">EduQuiz5P </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
            integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/is_js/0.9.0/is.min.js"
            integrity="sha512-DvhVUdQWYI9UoF5HGHhl00nbUFcr+j6dGlg/FSrolqR3EridE8CF82nCNAZsE4iAPkw/ws0O7IrZ1jOUuJQXxg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.43/polyfill.min.js"
            integrity="sha512-lvWiOP+aMKHllm4THsjzNleVuGOh0WGniJ3lgu/nvCbex1LlaQSxySUjAu/LTJw9FhnSL/PVYoQcckg1Q03+fQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.1/feather.min.js"
            integrity="sha512-4lykFR6C2W55I60sYddEGjieC2fU79R7GUtaqr3DzmNbo0vSaO1MfUjMoTFYYuedjfEix6uV9jVTtRCSBU/Xiw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Latex -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"
            integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx"
            crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js"
            integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
            crossorigin="anonymous"></script>
    <script>
        feather.replace();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--Notification-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
                delimiters: [
                    { left: '$$', right: '$$', display: true },
                    { left: '$', right: '$', display: false },
                    { left: "\\(", right: "\\)", display: false },
                    { left: "\\begin{equation}", right: "\\end{equation}", display: true },
                    { left: "\\begin{align}", right: "\\end{align}", display: true },
                    { left: "\\begin{alignat}", right: "\\end{alignat}", display: true },
                    { left: "\\begin{gather}", right: "\\end{gather}", display: true },
                    { left: "\\begin{CD}", right: "\\end{CD}", display: true },
                    { left: "\\begin{tikzpicture}", right: "\\end{tikzpicture}", display: true },
                    { left: "\\[", right: "\\]", display: true }
                ],
                // • rendering keys, e.g.:
                ignoredClasses: ["disable-katex-render"],
                throwOnError: false
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.btn-question').on('click', function (event) {
                var targetHref = $(this).attr('href');

                event.preventDefault();

                if (targetHref) {
                    $('html, body').animate({
                        scrollTop: $(targetHref).offset().top
                    }, 1000); // Thời gian lướt (1 giây)

                    $('#MobileExam').offcanvas('hide');
                }
            });
        });
    </script>
    <script src="~/js/main.js"></script>
    <script src="~/js/general.js"></script>
    <script src="~/js/toastrjs.js"></script>
    <script>
        document.addEventListener('contextmenu', event => event.preventDefault());

        document.addEventListener("keydown", e => {
            if (e.ctrlKey || (e.keyCode >= 112 && e.keyCode <= 123)) {
                e.stopPropagation();
                e.preventDefault();
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
